.main-content-area {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 300px;
  background: linear-gradient(to bottom, rgba(230, 247, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%);
  padding: 20px;
}

.grocery-list-detail-container {
  flex: 1;
  padding: 20px;
}


@media (max-width: 768px) {
  .main-content-area {
    height: auto;
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
  }

  .grocery-list-detail-container {
    padding: 15px;
  }

}